<h2>Welcome to Cloudgene!</h2>
<div class="row">
  <div class="span8">

<div class="alert alert-success">
Your <b>Cloudgene</b> container is running...
</div>

<hr>

Next steps: install application, run, ....



<div id="login-form">

</div>


<hr>
